#archive
  header
    border-bottom 1px solid gray
    text-align center

    h2
      font-size 2.5rem
      line-height 3

  .media
    margin 2rem 0
    .media-left
      img
        max-width 200px

  .page-link
    background-color black
    color white

  .page-item.disabled .page-link
    color silver
    border-color currentColor