#photo-list
  header
    border-bottom 1px solid gray
    padding-bottom 2rem
    margin-bottom 2rem

    h1
      line-height 2em
      text-align center

  .album
    padding-left 0

    li
      display block
      list-style none
      background-position center center
      background-size cover

      img
        display none

  footer
    text-align right