#photo-list
  header
    border-bottom 1px solid gray
    padding-bottom 2rem
    margin-bottom 2rem

    h1
      line-height 2em
      text-align center

  .album
    padding-left 0
    margin-left -.5rem
    display flex
    flex-direction row
    flex-wrap wrap

    li
      display block
      list-style none
      background-color #222
      margin-left .5rem
      min-width 20px

      &.blank-line
        margin-left 0
        width 100%
        height .5rem
        line-height .5rem
        background none
        visibility hidden

      a
        display block
        background-position center center
        background-size cover
        width 100%
        height 100%

      img
        display none

  footer
    text-align right