<footer id="footer" class="container">
  <nav class="navbar navbar-toggleable-md navbar-dark">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{authorURL}}">@{{author}}</a>
      </li>
    </ul>
    <span class="navbar-text text-muted">
      Create by <a href="//meathill.github.io/Meart/">Meart</a>
    </span>
  </nav>
</footer>