<footer id="footer" class="container">
  <div class="row">
    <nav class="navbar navbar-dark">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{authorURL}}">@{{author}}</a>
        </li>
      </ul>
      <span class="navbar-text float-xs-right text-muted">
        Create by <a href="//meathill.github.io/Meart/">Meart</a>
      </span>
    </nav>
  </div>
</footer>